@media screen and (max-width: 991px){

    body,html{
        padding: 0;
        margin: 0;
    }
   .logo img{
       display: none;
   }
   .name h2{
    margin-right: 170px;
    margin-top:-135px;
    font-size: 24px;
   
   }
   .logo{
    width: 2000px;
    height: 0px;
   }
   .last-post h1{
       position: relative;
       text-align: center;
       justify-content: center;
       top: 15px;
   }
   .back h1{
       top: 84px;
       right: 85px;
       font-size: 24px;
   }

 
   
   hr{
       width: 97%;
   }
  
   .social-list a{
       position: relative;
       bottom: 55px;
       font-size: 45px;
       
   }
   .bottom-line{
    position: relative;
    bottom: -25px;
    border: 0;
   }

.social-list{
    justify-content: center;
    align-items: center;
    
    
}

   .share{
        font-size: 25px;
        right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 3px;
       
   }
   .fa-moon{
       margin-top: 77px;
   }

   

}