    body{
        background: #072227;
    }

    
::placeholder{
    text-align:center;
    
}

input{
    border-radius: 5%;
    outline: none;
    
    
}


#card{
    position:relative;
    top: 100px;
}

.card{
    background: #35858B;
    width: 35%;
}


div{
    color: #fff;
    text-align: center;
}

.card-header{
    background: #00ADB5;
}

.code{
    
    margin-top: 250px;
    font-size: 35px ;
}