html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  background: #15181f;
}

.ship {
  position: fixed;
  top: 40px;
  left: 20px;
  text-align: right;
}

.ship p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.ship p span {
  font-weight: 300;
}

.nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #2C394B;
}

.nav a {
  margin: 10px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  text-decoration: underline;
}



.art-owner {
  position: relative;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  left: 4px;
  top: 637px;
  text-decoration: none;
  padding: 5px;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*
.banner {
  margin: 0 auto;
  background: url(images/banner.jpg);
  width: 100%;
  height: 666px;
  background-repeat: no-repeat;
  background-size: auto;
}
*/

.banner h1 {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 76px;
  font-weight: 600;
}

.banner p {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.black-bg {
  background: #000;
}

.white-bg {
  background: #15181f;
}

.div-block div {
  padding: 20px;
  margin: 0 auto;
  max-width: 70%;
}

.black-bg h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}

.black-bg hr {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #2e34d0;
}

.black-bg p {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}

.white-bg h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
}

.white-bg hr {
  width: 50%;
  margin: 0 auto;
  border: 1px solid  #2e34d0;
  
}

.white-bg p {
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

#repo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#repo-list a {
  margin: 10px;
  background: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  text-decoration: none;
}

#repo-list a:hover {
  
  box-shadow: 0 0 1.3rem #000;
  transition: 0.3s;
  
}

#social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#social-list img {
  margin: 10px;
  fill: black;
  background: transparent;
  width: 32px;
  cursor: pointer;
  transition: 0.5s;
}

#social-list img:hover {
  transform: scale(1.2) rotate(360deg);
  transition: 0.7s;
  
  
}

.footer {
  background: #2e34d0;
  width: 100%;
}

.footer p {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding: 5px;
}


#projects-links{
  font-size: 50px;
}

a{
  text-decoration: none;
  color: #fff;
}


#projects-links i:hover{
  transform: scale(1.2) rotate(340deg);
  transition: 1.2s;
  
}


.btn{
  background-color: #1658F5;
  width: 120px;
  height: 46px;
  border-radius: 5px;
  right: 20px;
  position: fixed;
  bottom: 15px; 
  display: none;
}


.btn a {
  color: #fff;
  font-size: 16px;
}

.btn:hover{
  box-shadow: 0 0 1.3rem rgb(6, 129, 211);
  transition: 0.3s;
}

.fa-moon{
  font-size: 25px;
  position: absolute;
  right: 20px;
  margin-top: 10px;
  color: #15181f;
  background-color: #fff;
  border-radius: 7px;
  padding: 7px;
  align-items: center;
  text-align: center;

}




.dark-mode .white-bg{
  background-color: #E4EFE7;
  color: #fff;
}

.dark-mode .black-bg{
  background-color: #99A799;
  color: #000;
}


.dark-mode{
  background-color: #D3E4CD;
}
.dark-mode .nav{
  background-color: #99A799;
}

.dark-mode .footer{
  background: #A3E4DB;
}

.dark-mode h1{
  color: #000;
}


.dark-mode a{
  color: #000;
}


.dark-mode #dark-mode{
  color: #fff;
}

.dark-mode .text{
  color: #000;
}

.dark-mode .banner h1{
  background: #99A799;
}

.dark-mode .ship p{
  color: #000;
}

.dark-mode .footer p{
  color: #000;
}

.fa-sun{
  color: #fff;
  background-color: #15181f;
  border-radius: 7px;
  padding: 7px;
  font-size: 25px;
}